<!DOCTYPE html>
<html>
<body>

<p align = "center">Hello World !</p>

<br>

<p align = "center">Find Donation Location(s) around you - </p>

<br>

<p align = "center">
  <button onclick="getLocation()"> Search ! </button>
</p>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude;  

}
</script>

<br>

</body>
</html>